<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
			table.rodape {
				width: 100%;
				font-family: open sans, Verdana, Geneva, sans-serif;
				font-size: 9px;
			}
		</style>
	</head>
	<body>
		<table class="rodape">
			<tr>
				<td style="text-align: Left">South Wind Systems</td>
				<td style="text-align: right">Impresso por: <%= current_user.email %> </td>
			</tr>
		</table>
	</body>
</html>
