<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<%#= wicked_pdf_stylesheet_link_tag "reports" %>
    <script>
     	function number_pages() {
        	var vars={};
        	var x=document.location.search.substring(1).split('&');
        	for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        	var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];

        	for(var i in x) {
          		var y = document.getElementsByClassName(x[i]);
          		for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        	}
      	}
    </script>		
	</head>
	<body onload="number_pages()">
		<!--<div class="logo">&nbsp</div>-->
		<table border="0" style="background-color:lightgrey;width: 100%;height: 100%">
			<tr>
			<!--<td style="width: 30%;"><img style="width: 100px; height:35px;" src=url('<%#= "file://#{Rails.root.join('app','assets','images','logotipo.png')}" %>') alt="logo" /></td> -->
				<td style="width: 6%;text-align: center;">
					<p style="font-family: Arial; font-size: 10px;">Sistema de Notas Fiscais</p>
				</td>
				<td style="width: 30%;text-align: right;font-family: Arial; font-size: 10px;">
					<table width="100%">
						<tr><td>Página <span class="page"></span> de <span class="topage"></span></td></tr>
						<tr><td>Data : <%= Time.now.strftime("%d/%m/%Y") %></td></tr>
						<tr><td>Hora : <%= Time.now.strftime("%H:%M:%S") %></td></tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>

